

<body>


	<h1>Java EE - Angular Application</h1>

	<br />

	<!-- Specify a Angular controller script that binds Javascript variables to the feedback messages.-->
	<div class="message" ng-controller="alertMessagesController">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}"
			close="closeAlert($index)">{{alert.msg}}</alert>
	</div>

	<br>

	<!-- Specify a Angular controller script that binds Javascript variables to the grid.-->
	<div class="grid" ng-controller="empresasListController">
		<div>
			<h3>List Empresas</h3>
		</div>

		<!-- Binds the grid component to be displayed. -->
		<div class="gridStyle" ng-grid="gridOptions"></div>

		<!--  Bind the pagination component to be displayed. -->
		<pagination direction-links="true" boundary-links="true"
			total-items="empresas.totalResults"
			items-per-page="empresas.pageSize" ng-model="empresas.currentPage"
			ng-change="refreshGrid()"> </pagination>
	</div>

	<!-- Specify a Angular controller script that binds Javascript variables to the form.-->
	<div class="form" ng-controller="empresasFormController">
		<!-- Verify empresa, if there is no id present, that we are Adding a Empresa -->
		<div ng-if="empresa.id == null">
			<h3>Add Empresa</h3>
		</div>
		<!-- Otherwise it's an Edit -->
		<div ng-if="empresa.id != null">
			<h3>Edit Empresa</h3>
		</div>

		<div>
			<!-- Specify the function to be called on submit and disable HTML5 validation, since we're using Angular validation-->
			<form name="empresaForm" ng-submit="updateEmpresa()" novalidate>

				<!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
				<div class="form-group"
					ng-class="{'has-error' : empresaForm.razaoSocial.$invalid && empresaForm.razaoSocial.$dirty}">
					<label for="razaoSocial">Razão Social:</label>
					<!-- Display a check when the field is valid and was modified -->
					<span
						ng-class="{'glyphicon glyphicon-ok' : empresaForm.razaoSocial.$valid && empresaForm.razaoSocial.$dirty}"></span>

					<input id="razaoSocial" name="razaoSocial" type="text"
						class="form-control" maxlength="50" ng-model="empresa.razaoSocial"
						required ng-minlength="2" ng-maxlength="50" />

					<!-- Validation messages to be displayed on required, minlength and maxlength -->
					<p class="help-block"
						ng-show="empresaForm.razaoSocial.$error.required">Add Name.</p>
					<p class="help-block"
						ng-show="empresaForm.razaoSocial.$error.minlength">Name must
						be at least 2 characters long.</p>
					<p class="help-block"
						ng-show="empresaForm.razaoSocial.$error.maxlength">Name cannot
						be longer than 50 characters.</p>
				</div>

				<div class="form-group"
					ng-class="{'has-error' : empresaForm.cnpj.$invalid && empresaForm.cnpj.$dirty}">
					<label for="cnpj">CNPJ:</label>
					<!-- Display a check when the field is valid and was modified -->
					<span
						ng-class="{'glyphicon glyphicon-ok' : empresaForm.cnpj.$valid && empresaForm.cnpj.$dirty}"></span>

					<input id="cnpj" name="cnpj" type="text" class="form-control"
						maxlength="50" ng-model="empresa.cnpj" required ng-minlength="2"
						ng-maxlength="50" />

					<!-- Validation messages to be displayed on required, minlength and maxlength -->
					<p class="help-block" ng-show="empresaForm.cnpj.$error.required">Add
						Name.</p>
					<p class="help-block" ng-show="empresaForm.cnpj.$error.minlength">Name
						must be at least 2 characters long.</p>
					<p class="help-block" ng-show="empresaForm.cnpj.$error.maxlength">Name
						cannot be longer than 50 characters.</p>
				</div>

				<div class="form-group">
				<label>Regime Tributário:</label>
				
				<div class="radio">
					<label> <input type="radio" name="regimeTributario"
						ng-value="1" ng-model="empresa.regimeTributarioId" checked="true" >Simples Nacional</input>
					</label>
				</div>
						
				<div class="radio">
					<label> <input type="radio" name="regimeTributario" ng-value="2"
						ng-model="empresa.regimeTributarioId">Lucro Presumido </input>
					</label>
				</div>
				</div>

				<div class="form-group"
					ng-class="{'has-error' : empresaForm.email.$invalid && empresaForm.email.$dirty}">
					<label for="email">Email:</label>
					<!-- Display a check when the field is valid and was modified -->
					<span
						ng-class="{'glyphicon glyphicon-ok' : empresaForm.email.$valid && empresaForm.email.$dirty}"></span>

					<input id="email" name="email" type="text"
						class="form-control" maxlength="50" ng-model="empresa.email"
						required ng-minlength="2" ng-maxlength="50" />

					<!-- Validation messages to be displayed on required, minlength and maxlength -->
					<p class="help-block"
						ng-show="empresaForm.email.$error.required">Add Name.</p>
					<p class="help-block"
						ng-show="empresaForm.email.$error.minlength">Name must
						be at least 2 characters long.</p>
					<p class="help-block"
						ng-show="empresaForm.email.$error.maxlength">Name cannot
						be longer than 50 characters.</p>
				</div>
				
				
				

		



				<!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
				<div class="form-group"
					ng-class="{'has-error' : empresaForm.anexo.$invalid && empresaForm.anexo.$dirty}">
					<label for="anexo">Anexo:</label>
					<!-- Display a check when the field is valid and was modified -->
					<span
						ng-class="{'glyphicon glyphicon-ok' : empresaForm.anexo.$valid && empresaForm.anexo.$dirty}"></span>

					<input id="anexo" name="anexo" type="url" class="form-control"
						maxlength="500" ng-model="empresa.anexo" required />

					<!-- Validation messages to be displayed on required and invalid. Type 'url' makes checks to a proper url format. -->
					<p class="help-block" ng-show="empresaForm.anexo.$error.required">Adicione
						um anexo.</p>
					<p class="help-block"
						ng-show="empresaForm.imageUrl.$invalid && empresaForm.anexo.$dirty">Invalid
						Image URL.</p>
				</div>

				<div class="avatar" ng-if="empresa.anexo">
					<img ng-src="{{empresa.anexo}}" width="400" height="250" />
				</div>



				<!-- Form buttons. The 'Save' button is only enabled when the form is valid. -->
				<div class="buttons">
					<button type="button" class="btn btn-primary"
						ng-click="clearForm()">Clear</button>
					<button type="submit" class="btn btn-primary"
						ng-disabled="empresaForm.$invalid">Save</button>
				</div>
			</form>
		</div>
	</div>
</body>
